.header__lang-link {
  font-size: 1.5rem;
  line-height: 1.17;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  transition: opacity .5s linear;
}

.header__lang-link:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 1.125rem;
    line-height: 1.11;
  }
}
