.place__image {
  max-width: 28.75rem;
  max-height: 28.75rem;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 1279px) {
  .place__image {
    max-width: 27.5rem;
    max-height: 27.5rem;
  }
}

@media screen and (max-width: 1023px) {
  .place__image {
    max-width: 21.25rem;
    max-height: 21.25rem;
  }
}

@media screen and (max-width: 767px) {
  .place__image {
    max-width: 20rem;
    max-height: 20rem;
  }
}
