.place__wrapper {
  display: flex;
}

.place__wrapper:nth-of-type(2n) {
  padding-top: 3rem;
}

@media screen and (max-width: 767px) {
  .place__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .place__wrapper:nth-of-type(2n) {
    padding-top: 2rem;
  }
}
