.place__paragraph {
  max-width: 30.25rem;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.63;
  margin: 0;
}

.place__paragraph:last-of-type {
  padding-top: 1.625rem;
}

.place__paragraph:only-of-type {
  padding-top: 0;
}
