.place__paragraph {
  padding-bottom: 1.625rem;
  max-width: 30.25rem;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.63;
  margin: 0;
}

.place__paragraph:last-of-type {
  padding-bottom: 0;
}

@media screen and (max-width: 1279px) {
  .place__paragraph {
    max-width: 28.5rem;
  }
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    max-width: 22rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    max-width: 18rem;
  }
}
