.lead__subtitle {
  margin: 0;
  max-width: 40rem;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 1.2;
  text-align: center;
  padding-top: 2rem;
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    max-width: 18rem;
    padding-top: 1rem;
    font-size: 1rem;
    line-height: 1.25;
  }
}
