.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 74rem;
  width: 100%;
  padding-top: 1.75rem;
}

@media screen and (max-width: 1279px) {
  .header__wrapper {
    max-width: 58rem;
  }
}

@media screen and (max-width: 1023px) {
  .header__wrapper {
    max-width: 45rem;
  }
}

@media screen and (max-width: 767px) {
  .header__wrapper {
    max-width: 18rem;
    padding-top: 1rem;
  }
}
