.intro__title {
  font-weight: 900;
  font-size: 3.375rem;
  line-height: 1.07;
  margin: 0;
  max-width: 43.125rem;
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .intro__title {
    max-width: 45rem;
  }
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 2rem;
    line-height: 1.09;
    max-width: 18rem;
  }
}

